body {
    background: url("35686950_10209002294134548_4950536582777012224_n.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.title{
    margin-top: 56px;
    margin-bottom: 8px;
    font-family: 'El Messiri', sans-serif;
    font-size: 48pt;
    line-height: 1em;
    color: #373737;
}

.subtitle{
    max-width: 50rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    margin-top: 0px;
    margin-bottom: 96px;
    color: #373737;
}

.placeholder{
    max-width: 50rem;
    font-family: 'Poiret One', sans-serif;
    font-size: 16pt;
}

a {

    text-decoration: none;

    color: black;

}

#buton {
    width:276px;
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: 96px;

    margin-left: auto;
    margin-right: auto;

    font-family: "Open Sans";
    font-size: 13pt;
    text-decoration: none;

    color: ghostwhite;
    background-color: #718878;
    text-transform: uppercase;

}

#buton:hover{
    background-color: #2E4E43;

}